@model WebApplication6.Models.Admin.AdminModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddRemoveItemSubType</title>
    <link href="~/css/Validation.css" media="all" rel="stylesheet" type="text/css" />

</head>
<body>



    <div class="row">

        <div class="text-danger"></div>
        <div class="col-lg-12" style=" padding:22px;">
            <h3>Add/Remove Item Sub Type:</h3>
            <hr />
            <div class="row">
                <div class="col-lg-6" style=" padding:45px;">
                    <h3>Add:</h3>
                   <form id="AddItemSubTypeForm" name="AddItemSubTypeForm">
                        <div class="row">
                            <div class="form-group">
                                <label style="" for="AddSubItemType">Item Type:</label>
                                <select id="AddSubItemType" name="AddSubItemType" asp-items="@Model.GetItemType()" class="form-control"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="ItemSubTypeAdd">Item Sub Type:</label>
                                <textarea id="ItemSubTypeAdd" name="ItemSubTypeAdd" placeholder="Add name" style="resize:none; " class="form-control" rows="1"></textarea>

                            </div>
                        </div>
                    <button class="btn btn-warning btn-sm" style="background-color:#FFB81C; padding:10px;text-align:center; width:100%; " type="submit">Add Item Sub Type</button>
                       </form>
                </div>
                <div class="col-lg-6" style=" padding:45px;">
                    <h3>Remove:</h3>
                    <div class="row">

                        <div class="row">
                            <div class="form-group">
                                <label style="" for="RemSubItemType">Item Type:</label>
                                <select id="RemSubItemType" name="RemSubItemType" asp-items="@Model.GetItemType()" class="form-control" onchange="GetSubCategories('#RemSubItemType option:selected','#RemItemTypeSub')"></select>
                            </div>
                        </div>
                        <form id="RemoveItemSubTypeForm" name="RemoveItemSubTypeForm" >
                        <div class="row">
                            <div class="form-group">
                                <label style="" for="RemItemTypeSub">Item Sub Type:</label>
                                <select id="RemItemTypeSub" name="RemItemTypeSub" class="form-control"></select>
                            </div>
                        </div>

                        <button class="btn btn-warning btn-sm" style="background-color:#FFB81C; padding:10px;text-align:center; width:100%;" type="submit">Remove Item Sub Type</button>
                         </form>
                    </div>
                </div>
            </div> 
        </div>
    </div>


    <script src="~/js/AdminJs/AddRemoveItemSubType.js">

       



    </script>


</body>



</html>
