@model WebApplication6.Models.Admin.AdminModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddRemoveItemType</title>
    <link href="~/css/Validation.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>



    <div class="row">

        <div class="text-danger"></div>
        <div class="col-lg-12" style=" padding:22px;">
            <h3>Add/Remove Item Type:</h3>
            <hr />
            <div class="row">
                <div class="col-lg-6" style=" padding:45px;">
                    <h3>Add:</h3>
                    <form id="AddItemType" name="AddItemType" method="post" >
                        <div class="row">
                            <div class="form-group">
                                <label for="ItemTypeAdd">Item Type:</label>
                                <textarea id="ItemTypeAdd" name="ItemTypeAdd" placeholder="Add name" style="resize:none; " class="form-control" rows="1" ></textarea>
                  
                            </div>
                        </div>
                        <button class="btn btn-warning btn-sm" style="background-color:#FFB81C; padding:10px;text-align:center; width:100%; " type="submit">Add Item Type</button>
                    </form>
                </div>
                <div class="col-lg-6" style=" padding:45px;">
                    <h3>Remove:</h3>
                    <div class="row">
            
                            <div class="row">
                                <div class="form-group">
                                    <label style="" for="ItemType">Item Type:</label>
                                    <select asp-items="@Model.GetItemType()" class="form-control" id="seleItemType">
                                
                                    </select>
                                </div>
                            </div>

                            <button class="btn btn-warning btn-sm" style="background-color:#FFB81C; padding:10px;text-align:center; width:100%; " type="submit" onclick="RemoveItemType('#seleItemType option:selected')">Remove Item Type</button>
                 
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/js/AdminJs/AddRemoveItemType.js">
        

       </script>

 
</body>



</html>
