
@model WebApplication6.Models.Admin.AdminModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Indes</title>
    <link href="~/css/sidebar.css" rel="stylesheet">
    <link href="~/css/Validation.css" media="all" rel="stylesheet" type="text/css" />


</head>
<body>
    <h3>Manage Main Page Slider Pictures:</h3>
    <hr />
    <form method="post" enctype="multipart/form-data">
        <input type="file" id="files2"
               name="files2" multiple />
        <input class="btn btn-warning btn-sm" type="button"
               id="upload2"
               value="Upload Selected Files" />
    </form>

    <form id="ChangeSliderPicturesForm" name="ChangeSliderPicturesForm" method="post">

        <div class="row">
            <div class="form-group">
                <label style="" for="ChangeSliderPicturesId">Select Slider Picture Id For Update:</label>
                <select id="ChangeSliderPicturesId" name="ChangeSliderPicturesId" class="form-control">
                    <option value="1" selected>Slider Picture 1</option>
                    <option value="2">Slider Picture 2</option>
                    <option value="3">Slider Picture 3</option>
                    <option value="4">Slider Picture 4</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="AddImage">Add images:</label>
                <textarea id="UpdateSliderPictureImage" name="UpdateSliderPictureImage" style="resize:none; height:100px;" placeholder="Picture Url" class="form-control"></textarea>
            </div>
        </div>

        <button class="btn btn-warning btn-sm" style="background-color:#FFB81C; padding:10px;text-align:center; width:100%;" type="submit">Update Pictures</button>
    </form>

    <script src="~/js/AdminJs/ImageUpload.js">  </script>

</body>



</html>
