<title>Access Denied</title>

<header>
    <h2 class="text-danger" style="margin-top:50px;">Access Denied!</h2>
    <h5 class="text-danger" style="text-align:center;">You do not have access to this resource.</h5>
</header>
