@model WebApplication6.Models.Order.OrderModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Billing And Delivery</title>



    <script src="~/js/jquery2.1.0.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <link href="~/css/Validation.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="row" style="margin-top:30px;">
        <breadcrumb style="font-weight:bold;"
                    asp-homepage-title=" Home"
                    asp-homepage-url="@Url.Action("Index", "Home", values: new { area = "" })"
                    asp-homepage-glyphicon="glyphicon glyphicon-home "></breadcrumb>
    </div>
    <div class="row" style="text-align:center;  margin-top:36px">
        <h2 style="color:black !important">Delivery and Billing Information</h2>
        <div class=" col-lg-6" style="padding:20px;margin-left:25%">
            <form method="post" id="BillForm" name="BillForm">
                <div class="col-lg-12">
                    <div class="row" style=" border:1px solid black;"><h2 style="color:black !important">Chose Your Payment Method</h2></div>
                    <div class="row" style=" border-style: solid; border-width:0px 1px 1px 1px ">
                        <div class="col-lg-6">
                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="radio" name="PM">
                                        <label style="font-size: 2.5em">
                                            <input type="radio" name="PM" value="CreditCard" checked>
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>

                                        </label>
                                    </div>
                                </div>
                                <h3>Credit Card</h3>

                            </div>

                        </div>
                        <div class="col-lg-6" style="">
                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="radio" name="PM">
                                        <label style="font-size: 2.5em">
                                            <input type="radio" name="PM" value="CashOnDelivery">
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>

                                        </label>
                                    </div>
                                </div>
                                <h3>Cash on delivery</h3>


                            </div>
                        </div>
                    </div>

                    <div class="row" style="border:1px solid black; margin-top:50px;"><h2 style="color:black !important">Billing Information</h2></div>
                    <div class="row" style=" padding-top:20px;  border-style: solid; border-width:0px 1px 1px 1px ">


                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="usrFirstName">First Name:*</label>
                                        <textarea id="FirstName" name="FirstName" style="resize:none;" rows="1" type="text" class="form-control" disabled></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="usrLastName">Last Name:*</label>
                                        <textarea id="LastName" name="LastName" style="resize:none;" rows="1" type="text" class="form-control" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="usrEmail">Email Adress:*</label>

                                        <textarea id="Email" name="Email" style="resize:none;" rows="1" type="text" class="form-control"></textarea>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="usrPhone">Phone Number:*</label>

                                        <textarea id="PhoneNumber" name="PhoneNumber" style="resize:none;" rows="1" type="text" class="form-control"></textarea>

                                    </div>
                                </div>


                            </div>
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="usrPhone">Adress:*</label>

                                        <textarea id="Adress" name="Adress" style="resize:none;" rows="1" type="text" class="form-control"></textarea>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="usrCity">City:*</label>

                                        <textarea id="City" name="City" style="resize:none;" rows="1" type="text" class="form-control"></textarea>

                                    </div>
                                </div>


                            </div>
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="usrCntryState">Country or State:*</label>

                                        <textarea id="CntryState" name="CntryState" style="resize:none;" rows="1" type="text" class="form-control"></textarea>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <button type="submit" style="width:100%;margin-top:7%;" class="btn btn-warning">ADD</button>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>

            </form>
        </div>
    </div>

    <script src="~/js/OrderJs/BillingInfo.js">  </script>

</body>
</html>
