@model WebApplication6.Models.Order.OrderListModel
<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>InvoiceList</title>
</head>
<body>

    <h1> Your Order History</h1>
     
    <div class="row">
        <h3>Order Invoices:</h3>
        <div class="col-xs-12" style="margin-top:20px;">
            <div class="table-responsive" style="overflow:auto; height:50%">
                <table class="table table-bordered table-hover">

                    <thead>
                        <tr>
                            <th>Invoice Id</th>
                            <th>Invoice Date</th>
                            <th>Customer User Name</th>
                        </tr>
                    </thead>
                    @foreach (var invoice in Model.Invoices)
                    {
                        <tbody>
                            <tr>
                                <td style="font-weight:bold;color:dodgerblue;"><a asp-controller="OrderProcessing" asp-action="Invoice" asp-route-id="@invoice.Id">@invoice.Id</a></td>
                                <td>@invoice.InvoiceDate</td>
                                <td>@invoice.User.UserName</td>
                            </tr>

                        </tbody>}

                </table>



            </div> 
        </div>
    </div>
    <br>



</body>
</html>
