@model WebApplication6.Models.Product.ProductListModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService


<section>
    @{
        var electric = new Dictionary<string, string>
{
     { "_name", "Electric Guitar" },
     { "_itemGroup", "ELECTRIC GUITARS"}

};

        var acoustic = new Dictionary<string, string>
{
    { "_name" , "Acoustic Guitar" },
    { "_itemGroup", "ACOUSTIC GUITARS"}
};

        var classical = new Dictionary<string, string>
{
    { "_name" , "Classical Guitar"},
    { "_itemGroup", "CLASSICAL GUITARS"}

};

        var bass = new Dictionary<string, string>
{

    { "_name","Bass Guitar"},
    { "_itemGroup", "BASS GUITARS"}

};

        var guitarAmp = new Dictionary<string, string>
{
    {"_name","Guitar Amp"},
    { "_itemGroup" , "GUITAR AMPS"}

};

        var bassAmp = new Dictionary<string, string>
{

    { "_name","Bass Amp"},
    { "_itemGroup", "BASS AMPS"}

};

        var guitarEffects = new Dictionary<string, string>
{
    { "_name", "Guitar effect"},
    { "_itemGroup", "GUITAR EFFECTS"}

};

        var guitarAccesories = new Dictionary<string, string>
{
    { "_name","Guitar Accesorie"},
    { "_itemGroup", "GUITAR ACCESORIES"}

};







    }
</section>

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Guitar Department</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/js/jquery2.1.0.js"></script>
    <script src="~/js/star-rating.js" type="text/javascript"></script>
    <script src="~/js/jquery.validate.min.js"></script>
</head>
<body>

     

        <section class="wrapper">
            <div class="container-fostrap" style="border-bottom:1px solid black;">

                <h2 class="heading" style="color:black !important;">
                    GUITAR DEPARTMENT
                </h2>
            </div>
             
                <div class="container" style="margin-top:4%;">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <div class="hovereffect">
                                <a>
                                    <img class="img-responsive" src="~/images/StoreDepartmentsImages/GuitarDepartmentMenuImages/gibson-usa-2017-limited-les-paul-premium-plus-tiger-burst-491532.jpg" />
                                </a>
                                <div class="overlay">
                                    <h2>Electric guitars</h2>
                                    <a class="info" asp-controller="Product" asp-action="Index" asp-all-route-data="electric">Enter</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-4">
                            <div class="hovereffect">
                                <a>
                                    <img class="img-responsive" src="~/images/StoreDepartmentsImages/GuitarDepartmentMenuImages/bass-guitar-perspective-photo-electric-showing-bottom-to-headstock-focus-across-middle-84747278.jpg" />
                                </a>
                                <div class="overlay">
                                    <h2>Bass guitars</h2>
                                    <a class="info" asp-controller="Product" asp-action="Index" asp-all-route-data="bass">enter</a>


                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-4">
                            <div class="hovereffect">
                                <a>
                                    <img class="img-responsive" src="~/images/StoreDepartmentsImages/GuitarDepartmentMenuImages/6351__32605_zoom.jpg" />
                                </a>
                                <div class="overlay">
                                    <h2>Acoustic guitars</h2>
                                    <a class="info" asp-controller="Product" asp-action="Index" asp-all-route-data="acoustic">enter</a>


                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-4">
                            <div class="hovereffect">
                                <a>
                                    <img class="img-responsive" src="~/images/StoreDepartmentsImages/GuitarDepartmentMenuImages/1.jpg" />
                                </a>
                                <div class="overlay">
                                    <h2>Classical guitars</h2>
                                    <a class="info" asp-controller="Product" asp-action="Index" asp-all-route-data="classical"> enter</a>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-4">
                            <div class="hovereffect">
                                <a>
                                    <img class="img-responsive" src="~/images/StoreDepartmentsImages/GuitarDepartmentMenuImages/e325_front800px.jpg" />
                                </a>
                                <div class="overlay">
                                    <h2>Guitar amps</h2>
                                    <a class="info" asp-controller="Product" asp-action="Index" asp-all-route-data="guitarAmp"> enter</a>


                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-4">
                            <div class="hovereffect">
                                <a>
                                    <img class="img-responsive" src="~/images/StoreDepartmentsImages/GuitarDepartmentMenuImages/ampeg-svt-vr.jpg" />
                                </a>
                                <div class="overlay">
                                    <h2>Bass amps</h2>
                                    <a class="info" asp-controller="Product" asp-action="Index" asp-all-route-data="bassAmp"> enter</a>


                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-4">
                            <div class="hovereffect">
                                <a>
                                    <img class="img-responsive" src="~/images/StoreDepartmentsImages/GuitarDepartmentMenuImages/me-80_top_angle_gal-800x600.jpg" />
                                </a>
                                <div class="overlay">
                                    <h2>Effects</h2>
                                    <a a class="info" asp-controller="Product" asp-action="Index" asp-all-route-data="guitarEffects"> enter</a>


                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-4">
                            <div class="hovereffect">
                                <a>
                                    <img class="img-responsive" src="~/images/StoreDepartmentsImages/GuitarDepartmentMenuImages/3e18bb56-5907-532e-a7be-fba0b0b70f74_1024x1024.jpg" />
                                </a>
                                <div class="overlay">
                                    <h2>Accesories</h2>
                                    <a class="info" asp-controller="Product" asp-action="Index" asp-all-route-data="guitarAccesories"> enter</a>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
      
        </section>
        @if ((await AuthorizationService.AuthorizeAsync(User, "IsUser")).Succeeded)
    {

        await Html.RenderPartialAsync("~/Views/Product/History.cshtml");


    }

 



</body>
</html>
