@model WebApplication6.Models.Product.ProductListModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Keyboard Department</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/js/jquery2.1.0.js"></script>
    <script src="~/js/star-rating.js" type="text/javascript"></script>
    <script src="~/js/jquery.validate.min.js"></script>

</head>
<body>


 
        <section class="wrapper">
            <div class="container-fostrap" style="border-bottom:1px solid black;">

                <h2 class="heading" style="color:black !important;">
                    KEYBOARD DEPARTMENT
                </h2>
            </div>
 
            <div class="container" style="margin-top:4%;">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="hovereffect">
                            <a>
                                <img class="img-responsive" src="~/images/StoreDepartmentsImages/KeyboardDepartmentMenuImages/korg-korg-kronos-2-61.jpg" />
                            </a>
                            <div class="overlay">
                                <h2>Workstations</h2>
                                <a class="info">Enter</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                        <div class="hovereffect">
                            <a>
                                <img class="img-responsive" src="~/images/StoreDepartmentsImages/KeyboardDepartmentMenuImages/ccs-3-0-17597500-1450234128.jpg" />
                            </a>
                            <div class="overlay">
                                <h2>Synthesizers</h2>
                                <a class="info">enter</a>


                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                        <div class="hovereffect">
                            <a>
                                <img class="img-responsive" src="~/images/StoreDepartmentsImages/KeyboardDepartmentMenuImages/Bosendorfer-Concert-Grand-Piano-214-VC-MAIN.jpg" />
                            </a>
                            <div class="overlay">
                                <h2>Acoustic pianos</h2>
                                <a class="info">enter</a>


                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                        <div class="hovereffect">
                            <a>
                                <img class="img-responsive" src="~/images/StoreDepartmentsImages/KeyboardDepartmentMenuImages/p-24482-Casio-PX350-WHITE-KIT.jpg" />
                            </a>
                            <div class="overlay">
                                <h2>Electric pianos</h2>
                                <a class="info" href="#"> enter</a>


                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                        <div class="hovereffect">
                            <a>
                                <img class="img-responsive" src="~/images/StoreDepartmentsImages/KeyboardDepartmentMenuImages/product_standard_kinsman_kss07_keyboard_stand_black.jpg" />
                            </a>
                            <div class="overlay">
                                <h2>Accesories</h2>
                                <a class="info" href="#"> enter</a>


                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                        <div class="hovereffect">
                            <a>
                                <img class="img-responsive" src="~/images/StoreDepartmentsImages/KeyboardDepartmentMenuImages/1870-800x600.jpg" />
                            </a>
                            <div class="overlay">
                                <h2>Keyboard Amps</h2>
                                <a class="info" href="#"> enter</a>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
   
        </section>

     
    @if ((await AuthorizationService.AuthorizeAsync(User, "IsUser")).Succeeded)
    {

        await Html.RenderPartialAsync("~/Views/Product/History.cshtml");


    }


</body>
</html>
